CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Ignoring buildengine file #
buildengine/cmake
buildengine/mingw
buildengine/yasm

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
